/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

@require '~vuepress-plugin-tabs/dist/themes/default.styl'

.home .hero img
  max-width 450px!important

.theme-default-content:not(.custom) img {
    max-width: 100%;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
}